aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
APScheduler==3.7.0
asgiref==3.3.4
astroid==2.4.2
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
Automat==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work
backcall==0.2.0
blessings==1.7
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorful==0.5.4
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
decorator==4.4.2
Django==3.2
dnspython==2.1.0
filelock==3.0.12
google-api-core==1.26.3
google-auth==1.29.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.37.0
h2==3.2.0
hiredis==2.0.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.6.4
itemadapter==0.2.0
itemloaders==1.0.4
jedi==0.18.0
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
lxml==4.6.3
mccabe==0.6.1
msgpack==1.0.2
multidict==5.1.0
numpy==1.20.2
nvidia-ml-py3==7.352.0
opencensus==0.7.12
opencensus-context==0.1.2
packaging==20.9
pandas==1.2.4
parsel==1.6.0
parso==0.8.1
pickleshare==0.7.5
priority==1.3.0
prometheus-client==0.10.1
prompt-toolkit==3.0.14
Protego==0.1.16
protobuf==3.15.8
psutil==5.8.0
py-spy==0.3.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.7.4
pylint==2.6.0
pymongo==3.11.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==21.0.2
queuelib==1.5.0
redis==3.5.3
requests==2.25.1
rsa==4.7.2
Scrapy==2.5.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
w3lib==1.22.0
wcwidth==0.2.5
wincertstore==0.2
wrapt==1.12.1
yarl==1.6.3
zope.interface==5.3.0
